@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-coustard: "Coustard", serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--font-poppins);
    background-color: #F3F4F7;
    /* background-color: #000; */
}

#root {
    display: grid;
    width: 100%;
    grid-template-areas:
        "nav"
        "head"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

#root {
    header {
        grid-area: head;
        /* background-color: #8ca0ff; */
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        /* background-color: blue; */
    }

}


.box {
    position: relative;
    width: 100%;
    height: 30rem;
    /* margin: 4rem; */
  }
  
 .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
  }
  
 .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
  }
  
  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    resize: both;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  
  .content h2 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  
  .content span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  @media (max-width: 600px) {
    .container .box:hover .content {
      transform: translate(0, 3.5rem);
    }
    .container .box:hover .imgBox {
      transform: translate(0, -3.5rem);
    }
  }


@layer components {
    .title-h2 {
        @apply font-medium text-4xl md:text-5xl leading-relaxed md:leading-normal;
    }
    .paragraph {
        @apply font-light text-base md:text-xl leading-loose;
    }
    .title-header {
        @apply text-white text-4xl md:text-6xl font-extralight leading-relaxed md:leading-normal;
    }
    .container-custom {
        @apply w-[97%] mx-auto p-12 sm:p-12 md:p-16;
    }

    .button {
        @apply rounded-[32px] px-8 py-4 text-lg font-semibold text-white shadow-sm;
    }

    .button-primary {
        @apply bg-orange-400 z-30 relative font-semibold after:-z-20 after:absolute after:h-1 after:w-1 after:bg-orange-500 after:left-5 overflow-hidden after:bottom-0 after:translate-y-full after:rounded-md after:hover:scale-[300] after:hover:transition-all after:hover:duration-700 after:transition-all after:duration-700 transition-all duration-700;
    }

    /* carousel */
    .slide-card {
        @apply relative w-full;
    }
    
    .slide-card::after {
        @apply content-[''] absolute inset-0 bg-black opacity-0 transition-opacity duration-300 ease-in;
    }
    
    .group:hover .slide-card::after {
        @apply opacity-50;
    }

    .slide-card-hover {
        @apply absolute z-10 inset-0 opacity-0 mix-blend-multiply transition-opacity duration-200 ease-in group-hover:opacity-100 bg-orange-500;
    }

    .slide-image {
        @apply w-full h-full object-cover;
    }

    .slide-title {
        @apply text-4xl leading-snug text-white px-8 font-semibold;
    }

    .slide-bg-title {
        @apply absolute bottom-0 z-30 w-[100%] h-[280px] bg-gradient-to-t from-[#000] from-0% via-[#000]/70 via-50% to-[#000]/0 to-100%;
    }

    .slide-content {
        @apply w-full bg-transparent transition-all duration-500 group-hover:text-white py-8 px-8;
    }

     /* carousel experti */
     .content-experti {
        @apply absolute z-30 bottom-8 left-0 w-full text-center;
    }

    .content-experti-text {
        @apply text-white leading-relaxed px-8;
    }

    /* collpase */
    .custom-title-collapse {
        @apply  text-slate-800 text-3xl md:text-4xl font-light peer-checked:text-[#F1902B];
    }
    .custom-collapse{
        @apply py-6 flex items-center gap-6 border-b border-[#000]/20;
    }
    .custom-collapse-title {
        @apply font-normal text-2xl mb-3 leading-[50px] text-slate-800;
    }
    .custom-collapse-description {
        @apply text-lg font-light leading-8 text-slate-700;
    }
    /* .footer {
        @apply flex items-center flex-col justify-center gap-6;
    } */
    .footer-text {
        @apply  text-gray-400 text-sm;
    }
}

@layer utilities {
  


    .image-forma-white {
        position: relative;
        background: linear-gradient(to top right, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.763)), url('/img/3179681.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .software-factory2 {
    
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23000"><rect fill="%23FFF9F9" width="100%" height="100%"/><path d="M0 0v60c9 0 18-3 25-10 13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s36 14 50 0c13-14 36-14 50 0s37 13 50 0c14-14 37-14 50 0 7 7 16 10 25 10V0H0Z"></path></g></svg>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .fondo {
        position: relative;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.537)), url('../img/Software-Factory.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* border-radius: 16px; */
        /* background-blend-mode:multiply; */
    }

    .fondo2 {
        position: relative;
        background-image: url('../img/fondo.jpg');
        background-size: cover;
        background-position: center;
        background-blend-mode:multiply;
      }
    
}



.foto1 {
    background-image: url('../img/experti/services/Software-Factory.jpg');
}


.each-slide-content .akker_btn_cls {
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: calc(-100% + 1.5rem);
}

.each-slide:hover .akker_btn_cls {
	right: 0;
}
.each-slide {
	position: relative;
	overflow: hidden;
}

.each-slide-content h2 {
	margin-bottom: 3.5rem;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
	display: -webkit-box;
    -webkit-box-orient: vertical;

}
.each-slide:hover .each-slide-content h2 {
	margin-bottom: 12rem;
}

.multi2 .each-slide:hover .each-slide-content h2 {
	margin-bottom: 6rem;
}
.each-slide-content {
	position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    bottom: 0;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


