@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-coustard: "Coustard", serif;
}

body {
    font-family: var(--font-poppins);
    background-color: #F3F4F7;
}

#root {
    display: grid;
    width: 100%;
    grid-template-areas:
        "nav"
        "head"
        "main"
        "footer";
    grid-template-columns: 1fr;
}

#root {
    header {
        grid-area: head;
        /* background-color: #8ca0ff; */
    }

    nav {
        grid-area: nav;
        background-color: #ffa08c;
    }

    main {
        grid-area: main;
        background-color: #ffff64;
    }

    footer {
        grid-area: footer;
        background-color: #64ff7e;
    }

}










/**********/

@layer components {
    .title-header {
        @apply text-white relative text-7xl font-extralight;
    }
    .container-custom {
        @apply w-[97%] mx-auto p-16;
    }

    .button {
        @apply rounded-[32px] px-8 py-4 text-lg font-semibold text-white shadow-sm;
    }

    .button-primary {
        @apply bg-orange-500 hover:bg-orange-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-700;
    }
}

@layer utilities {
    .image-forma-white {
        position: relative;
        background: linear-gradient(to top right, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.871), rgba(0, 0, 0, 0.763)), url('/img/3179681.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .software-factory {
        position: relative;
        background: linear-gradient(to top right, rgb(0, 0, 0), rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.822)), url('../img/experti/services/Software-Factory.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .fondo {
        position: relative;
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.822)), url('../img/Software-Factory.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        /* border-radius: 16px; */
        /* background-blend-mode:multiply; */
    }
}



.foto1 {
    background-image: url('../img/experti/services/Software-Factory.jpg');
}